@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f5eebf;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 750px;
}

h1 {
    font-size: 3rem;
    color: #3d7e47;
    font-weight: 700;
    text-shadow: 3px 3px 0px #b6d9b9;
    margin-bottom: 35px;
}

.box {
    background-color: #48a153;
    padding: 50px 40px;
    border-radius: 35px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    margin-bottom: 40px;
    width: 100%;
}

label {
    font-size: 1.4rem;
    color: white;
    display: block;
    margin-bottom: 22px;
    font-weight: 500;
}

input {
    width: 90%;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #000;
    font-size: 1.2rem;
    outline: none;
    background-color: white;
}

.btn {
    width: 80%;
    padding: 18px;
    border-radius: 18px;
    font-size: 1.25rem;
    margin: 12px auto;
    display: block;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: .25s ease;
}

.add {
    background-color: #48a153;
    color: white;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.add:hover {
    transform: translateY(-3px);
}

.voltar {
    background-color: #3c3c3c;
    color: white;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.voltar:hover {
    transform: translateY(-3px);
}

/* Responsivo */
@media (max-width: 500px) {
    h1 {
        font-size: 2.2rem;
    }

    .box {
        padding: 35px 25px;
    }

    input {
        font-size: 1rem;
    }

    .btn {
        font-size: 1.1rem;
    }
}
