@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f5eebf;
    background-image: url("../img/trabalho2.jpeg");
    background-repeat: no-repeat;
    background-size: 420px;
    background-position: center 120px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 900px;
}

h1 {
    font-size: 3rem;
    color: #ff9f1c;
    font-weight: 700;
    text-shadow: 3px 3px 0px #f2d27d;
    margin-bottom: 35px;
}

.box {
    background-color: #1f1f1f;
    padding: 50px 40px;
    border-radius: 35px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    margin-bottom: 40px;
    width: 100%;
}

.box p {
    font-size: 1.4rem;
    color: white;
    margin-bottom: 30px;
    font-weight: 400;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    justify-items: center;
}

.habit {
    width: 85%;
    padding: 14px;
    border-radius: 12px;
    border: 2px solid #dcdcdc;
    background-color: transparent;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: .25s;
    font-weight: 500;
}

.habit:hover {
    transform: translateY(-3px);
}

.selected {
    background-color: #ffd500;
    color: #000;
    border-color: #000;
}

.btn {
    width: 70%;
    padding: 18px;
    border-radius: 18px;
    font-size: 1.25rem;
    margin: 12px auto;
    display: block;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: .25s ease;
}

.remove {
    background-color: #1f1f1f;
    color: white;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.remove:hover {
    transform: translateY(-3px);
}

.voltar {
    background-color: #ffffff;
    color: #000;
    border: 2px solid #000;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.voltar:hover {
    transform: translateY(-3px);
}

/* RESPONSIVO */
@media (max-width: 600px) {
    h1 {
        font-size: 2.3rem;
    }

    .box {
        padding: 35px 25px;
    }

    .habit {
        width: 100%;
        font-size: 1rem;
    }
}
