/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/* ===== IMAGEM DE FUNDO ===== */
body {
  background: url('../img/trabalho1.jpg') no-repeat center center fixed;
  background-size: cover; /* ocupa toda a tela */
}

.container {
  width: 50%;
  height: 50%;
}
